:root {
  /* main colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8ff;
  --primary-1: #351c75;
  --primary-2: #2b175f;
  --font-color: #1d1d27;
  /* helper colors */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --yellow-light: #ffc107;
  --yellow-dark: #ff9800;
  --gray-light: #dddbdb;
  --gray-dark: #a9a9a9;
  /* borders */
  --border-radius: 0.6rem;
  --border-solid: 1px solid #dddddd;
  /* width */
  --max-width: 1170px;
  --fixed-width: 620px;
  /* font family */
  --font-family: 'Heebo', sans-serif, 'Belanosima', sans-serif;
  /* box shadow*/
  --light-shadow: 2px 4px 8px -1px #00000057, 0 1px 2px 0 #00000030;
  --dark-shadow: 0px 10px 15px -3px #00000075, 0px 4px 6px -2px #0000005e;

  /* more custmize */
  --letter-spacing: 1px;
  --line-height: 1.6;
  --transition: all 0.3s linear;
}
/* 
=================
project
==================
*/
.section-container {
  height: calc(100vh - 130px);
}

/* like wrapper */
.carousle-center {
  max-width: var(--max-width);
  position: relative;
}

.carousle {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0.8rem);
  gap: 1rem;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;

  /* === or == */

  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden; */
}

.carousle.dragging {
  scroll-behavior: auto;
}

@media screen and (max-width: 900px) {
  .carousle {
    grid-auto-columns: calc((100% / 2) - 0.61rem);
  }
}
@media screen and (max-width: 600px) {
  .carousle {
    grid-auto-columns: 100%;
  }
}

.carousle-card {
  background-color: var(--bg-primary);
  border-radius: var(--border-radius);
  border: 4px solid var(--primary-1);
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* flex: 0 0 280px; */
}

.carousle.dragging .carousle-card {
  cursor: grab;
  user-select: none;
}

.carousle-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary-1);
  width: 100%;
  height: 35%;
}

.carousle-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid var(--primary-1);
  position: relative;
}

.carousle-card .name {
  margin-bottom: 0;
}
.carousle-card .title {
  color: var(--gray-dark);
}

.carousle-card .about-btn {
  background-color: var(--primary-1);
  color: var(--bg-primary);
  border-radius: var(--border-radius);
  border: 3px solid var(--primary-1);
  transition: var(--transition);
  font-weight: 600;
  letter-spacing: 1px;
}

.carousle-card .about-btn:hover {
  color: var(--primary-1);
  background-color: var(--bg-primary);
}
.carousle-card .about-btn:active {
  transform: scale(0.8);
}

.prev-btn,
.next-btn {
  color: var(--bg-primary);
  background-color: var(--primary-1);
  border: 3px solid var(--primary-1);
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: var(--transition);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.prev-btn {
  left: -1rem;
}
.next-btn {
  right: -1rem;
}
@media screen and (min-width: 1170px) {
  .prev-btn {
    left: -3rem;
  }
  .next-btn {
    right: -3rem;
  }
}
.prev-btn:hover,
.next-btn:hover {
  background-color: var(--bg-primary);
  color: var(--primary-1);
}

.polits {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.next {
}
.prev {
}
