/* 
===============
Variables
================
*/
:root {
  /* main colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8ff;
  --primary-1: #222;
  --primary-2: #221f1f;
  --font-color: #1d1d27;
  /* helper colors */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --yellow-light: #fce8ac;
  --yellow-dark: #ff9800;
  --gray-light: #dddbdb;
  --gray-dark: #a9a9a9;
  /* borders */
  --border-radius: 0.6rem;
  --border-solid: 1px solid #dddddd;
  /* width */
  --max-width: 1170px;
  --fixed-width: 620px;
  /* font family */
  --font-family: 'Heebo', sans-serif, 'Belanosima', sans-serif;
  /* box shadow*/
  --light-shadow: 2px 4px 8px -1px #00000057, 0 1px 2px 0 #00000030;
  --dark-shadow: 0px 10px 15px -3px #00000075, 0px 4px 6px -2px #0000005e;

  /* more custmize */
  --letter-spacing: 1px;
  --line-height: 1.6;
  --transition: all 0.3s linear;
}

/* 
=========================
start todo style
========================
*/

.title {
  color: var(--primary-1);
  text-transform: uppercase;
  letter-spacing: calc(var(--letter-spacing) + 3px);
  font-weight: 600;
}
.alert {
  border-radius: var(--border-radius);
  max-width: 400px;
  margin: 1.5rem auto;
  text-align: center;
}
.danger {
  background-color: var(--red-light);
  color: var(--red-dark);
  border: 1px solid var(--red-dark);
}
.success {
  background-color: var(--green-light);
  color: var(--green-dark);
  border: 1px solid var(--green-dark);
}
.warning {
  background-color: var(--yellow-light);
  color: var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}

/* todo form */
.form {
  max-width: 400px;
  margin: 1.5rem auto;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
  align-items: unset;
}
#goal {
  width: 100%;
  padding: 0.375rem 0.5rem;
  text-transform: capitalize;
  border: 2px solid var(--primary-1);
  border-radius: var(--border-radius);
  position: relative;
  left: 8px;
}

.add-goal {
  background-color: var(--primary-1);
  color: var(--bg-primary);
  border: 2px solid var(--primary-1);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  text-transform: uppercase;
  transition: var(--transition);
  font-weight: 500;
}
.add-goal:hover {
  color: var(--primary-1);
  background-color: var(--bg-primary);
}

/* todos container */
.goals-container {
  max-width: 400px;
  margin: 0 auto;
  display: none;
}
.goal-item {
  background-color: var(--primary-1);
  color: var(--bg-primary);
  padding: 0.375rem 0.375rem;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-left: 8px;
  position: relative;
}

.goal-name {
  margin: 0;
}

.edit {
  color: var(--green-light);
  padding: 0.25rem;
  transition: var(--transition);
}
.edit:hover {
  color: var(--green-dark);
}
.delete {
  color: var(--red-light);
  padding: 0.25rem;
  transition: var(--transition);
}
.delete:hover {
  color: var(--red-dark);
}

.clear {
  text-align: center;
  color: var(--red-dark);
  border: 1px solid var(--red-dark);
  border-radius: var(--border-radius);
  display: block;
  margin: 1.5rem auto 0 auto;
  font-weight: 500;
  transition: var(--transition);
}
.clear:hover {
  color: var(--bg-primary);
  background-color: var(--red-dark);
}
